* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#galleryForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(5, 5, 131);
    height: 80vh;
    max-height: 1000px; 
    padding: 20px; 
    z-index: 1;
}

#galleryForm .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 100%; 
}

#galleryForm .container input {
    margin: 10px;
    width: 80%; 
}

#galleryForm .container #rememberMe, #pswd, #submit, .cancelBtn {
    width: 80%; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.check{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#galleryForm .img img {
    width: 100%; 
    max-width: 200px;
    opacity: 0.7; 
    z-index: -1;
}

@media (max-width: 768px) {
    #galleryForm {
        width: 100vw;
        height: 100vh; 
    }
}
