.contactMethods {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 20%;
    background-image: linear-gradient(to bottom, rgba(101, 163, 235, 0.5), rgba(255, 255, 255, 0.5)), url(../TigerImages/colorSpectrum.jpg);
    width: $width;
    text-align: center;
    padding: 10px;

    img {
        max-width: 30%;
        height: auto;
    }

    figcaption {
        margin: 5px;
        padding: 10px;

        &:hover {
            transform: scale(1.5);
            transition: all 1s ease-in-out;
            cursor: pointer;
        }
    }
}