@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&family=Quicksand&display=swap');

#header-container {
    background-image: linear-gradient(to bottom, rgba(234, 174, 43, 0.542), rgba(38, 18, 38, 0.5)), url(../TigerImages/yelloBall.gif);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    background-attachment: fixed;
    height: 35.8125em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: $width;

    h1 {
        font: normal normal 900 35px/50px Heebo;
        word-spacing: 0;
        color: aqua;
        }
        
    #MeImg{
        height: 90%;
        width: 20%;    
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        background-image: url(../TigerImages/yasir\ asi.png);
        background-repeat: no-repeat;
        background-position: top left;
        background-size: cover;
        opacity: 0.8;
        border-radius: 33%;
        filter: brightness(100%) sepia(200%) hue-rotate(50deg);

            &:hover {
                filter: brightness(100%) sepia(20%) hue-rotate(20deg);
                cursor:not-allowed;
            }
        }
            
        }

    .text-container {
        display: flex;
        justify-content: center;
        align-items:first baseline;
        flex-direction: column;
        width: 55%;
        height: 100%;
        color: aqua;


            #wordByWordI {
                font-family: 'Nanum Brush Script', cursive;
                font-size: 2rem;
                text-align: center;
                display: inline-block; 
                margin-right: 5px;
                height: 50%;
                cursor: pointer;
            }
    }


