.navHeader {
    width: $width;
    height: 50px;
    position: fixed;
    top: 0;
    background-color: #fff;
    opacity: 1;
    z-index: 999;
    display: flex;
    align-items: center;
    overflow: hidden;

    .navPhoto {
        height: 50%;
        width: 5%;
        overflow: hidden;
    }
    .navName {
        height: 50%;
        width: 100%;
        overflow: hidden;
    }
}

#hamburger {
    font-size: 1.2em;
    color: black;
    font-weight: bold;
    padding: 5px;
    cursor: pointer;
    flex-grow: 0.99;
    display: flex;
    align-items: center;


        #burgerIcon{
            display: none;
        }

        ul {
            font: normal normal 500 15px/10px Heebo;
            list-style-type: none;
            display: flex;
            flex-grow: 0.99;
            margin-bottom: 0;
            padding-left: 2rem;

        li a {
            text-decoration: none;
            width: 150px;
            color: #000;
            display: block;
            text-align: center;
            font-size: 1.2em;
        }

        li a:hover {
            font-weight: bolder;
        }
    } 
}

