@media (max-width: 700px) {

    .navHeader {
        width: $width;
        display: flex;
        height: 30px;
        overflow: visible;

        #hamburger {
            position: relative;

            #burgerIcon{
                display: block;
            }

            &:hover ul {
                display: flex;
            }

                &:hover ul li {
                    margin: 0;
                    padding: 10px 20px;
                    width: $width;
                    text-align: center;
                }

                &:hover ul a {
                    color: white;
                    text-decoration: none;
                }
        
            &:hover {
                display: block;
            }
        
            ul {
                display: none;
                position: absolute;
                top: 100%;
                left: 0;
                background-color: #9a7575;
                opacity: 1;
                flex-direction: column;
                width: 50%;
            }
        }
        .navName {
            display: none;
        }
    }

    #header-container {
        flex-direction: column;
        height: 100%;

    
        h1 {
            font-size: 40px 10px;
            word-spacing: 0;
            margin-top: 70px;
            text-align: center;
        }
            #MeImg{
                background-image: none;
            }

    .text-container {
        width: 80%;
        height: 60%;
        color: aqua;
        text-align: justify;


            #wordByWordI {
                font: normal normal 500 20px/30px Heebo;
                text-align: center;
                display: inline-block; 
                margin-right: 5px;
                height: 50%;
            }
    }
    }

    .text-container>p {
        font: normal normal 500 15px/30px Heebo;
        text-align: center;
    }

    .techUsed {
        height: 100%;
        width: $width;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    .card{
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid wheat;

        img{
            width: 30%;
            height: 30%;
            margin: 10px;
        }

    }
}

    #aboutMe {
        flex-direction: column;
        width: $width;
        height: 100%;
        background-color: rgba(38, 29, 37, 0.6);
        padding: 50px;
        color: rgb(45, 41, 41);

        figure {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            text-align: center;

                h1{
                font-size: 50px;
                font-family: 'Segoe UI';
                margin: 10px;
                height: 100%;
            }
        }
    }


    #Cssproject, #JavaSproject {
        height: 40%;

        .row {
            padding-left: 12%;
        }
    }

    footer {
        flex-direction: column;
        align-items: center;

        form,
        form h3 {
            margin-left: 1px;
            text-align: center;
            width: $width;
        }
    }

    .contactMethods {
        height: 400px;
    }
}
