#Cssproject {
    width: $width;
    height: 30%;
    background-image: linear-gradient(to bottom, rgba(173, 201, 233, 0.5), rgba(181, 77, 181, 0.5)), url(../TigerImages/fireBall.gif);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 10px;

    .card {
        height: 280px;
        margin: 10px;
    }

    p {
        text-align: center;
        font: normal normal normal 20px/29px Heebo;
        color: var(--colo);
    }
}
#JavaSproject {
    width: $width;
    height: 30%;
    background-image: linear-gradient(to bottom, rgba(234, 174, 43, 0.542), rgba(38, 18, 38, 0.5)), url(../TigerImages/fullMind.gif);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 10px;

    .card {
        height: 280px;
        margin: 10px;
        background-color: rgb(83, 81, 81);
    }

    p {
        text-align: center;
        font: normal normal normal 20px/29px Heebo;
        color: var(--colo);
    }
}

.btn {
    @include bTn;
    width: 250px;
    height: 30px;
}

img{
    height: 150px;
    width: 150px;
}