@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@500;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --colo: #3A3A3A;
  --bgc: #1fc0e1;
}

h2 {
  font: normal normal 900 35px/52px Heebo;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--colo);
}

a {
  text-decoration: none;
  cursor: pointer;
  color: var(--colo);
}

.scroll-arrow {
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 999;
}
.scroll-arrow:hover {
  opacity: 1;
}
.scroll-arrow .up {
  width: 40px;
  height: auto;
  cursor: pointer;
}
.scroll-arrow .up:hover {
  opacity: 0.7;
}

.navHeader {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  background-color: #fff;
  opacity: 1;
  z-index: 999;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.navHeader .navPhoto {
  height: 50%;
  width: 5%;
  overflow: hidden;
}
.navHeader .navName {
  height: 50%;
  width: 100%;
  overflow: hidden;
}

#hamburger {
  font-size: 1.2em;
  color: black;
  font-weight: bold;
  padding: 5px;
  cursor: pointer;
  flex-grow: 0.99;
  display: flex;
  align-items: center;
}
#hamburger #burgerIcon {
  display: none;
}
#hamburger ul {
  font: normal normal 500 15px/10px Heebo;
  list-style-type: none;
  display: flex;
  flex-grow: 0.99;
  margin-bottom: 0;
  padding-left: 2rem;
}
#hamburger ul li a {
  text-decoration: none;
  width: 150px;
  color: #000;
  display: block;
  text-align: center;
  font-size: 1.2em;
}
#hamburger ul li a:hover {
  font-weight: bolder;
}

#header-container {
  background-image: linear-gradient(to bottom, rgba(101, 163, 235, 0.5), rgba(255, 255, 255, 0.5)), url(../TigerImages/colorSpectrum.jpg);
  height: 28.8125em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#header-container h1 {
  font: normal normal 900 40px/50px Heebo;
  word-spacing: 0;
}

.text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 55%;
}

.text-container > p {
  font: normal normal 500 20px/30px Heebo;
  text-align: center;
}

.techUsed {
  height: 100%;
  width: 100%;
  background-color: rgb(214, 200, 200);
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
.techUsed .card {
  background-color: rgb(214, 200, 200);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
}
.techUsed .card img {
  width: 30%;
  height: 30%;
  margin: 10px;
}

#aboutMe {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(212, 234, 237, 0.542), rgba(38, 18, 38, 0.5)), url(../TigerImages/colorSpectrum.jpg);
  padding: 50px;
  color: rgb(27, 24, 24);
  margin: 0;
}
#aboutMe figure {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
}
#aboutMe figure h1 {
  font-size: 70px;
  font-family: "Segoe UI";
}
#aboutMe figure .aboutMeimg {
  width: 30%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 40px;
}
#aboutMe figure .aboutMeimg:hover {
  transform: scale(2);
  transition: all 1.5s ease-in-out;
  cursor: pointer;
}
#aboutMe figure figcaption {
  font: normal normal normal 20px/29px Heebo;
  text-align: justify;
  line-height: 1.5;
  margin-left: 40px;
}
#aboutMe figure figcaption:hover {
  cursor: pointer;
}

.btn1 {
  align-items: center;
  border-radius: 25px;
  text-decoration: none;
  line-height: 1;
  opacity: 1;
  background-color: var(--bgc);
  width: 70%;
  height: 41px;
  margin-left: 70px;
}

#Cssproject {
  width: 100%;
  height: 30%;
  background-image: linear-gradient(to bottom, rgba(173, 201, 233, 0.5), rgba(181, 77, 181, 0.5)), url(../TigerImages/colorSpectrum.jpg);
  margin: 0;
  padding: 10px;
}
#Cssproject .card {
  height: 280px;
  margin: 10px;
}
#Cssproject p {
  text-align: center;
  font: normal normal normal 20px/29px Heebo;
  color: var(--colo);
}

#JavaSproject {
  width: 100%;
  height: 30%;
  background-image: linear-gradient(to bottom, rgba(234, 174, 43, 0.542), rgba(38, 18, 38, 0.5)), url(../TigerImages/colorSpectrum.jpg);
  margin: 0;
  padding: 10px;
}
#JavaSproject .card {
  height: 280px;
  margin: 10px;
  background-color: rgb(83, 81, 81);
}
#JavaSproject p {
  text-align: center;
  font: normal normal normal 20px/29px Heebo;
  color: var(--colo);
}

.btn {
  border-radius: 25px;
  text-decoration: none;
  line-height: 1;
  opacity: 1;
  background-color: var(--bgc);
  width: 250px;
  height: 30px;
}

img {
  height: 150px;
  width: 150px;
}

:root {
  --formwidth: 90%;
}

footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(212, 234, 237, 0.542), rgba(38, 18, 38, 0.5)), url(../TigerImages/colorSpectrum.jpg);
  margin: 0;
}
footer h3 {
  width: 200px;
  height: 53px;
  text-align: left;
  font: normal normal 900 36px/53px Heebo;
  color: #fff;
  font-size: 2.25em;
}
footer img {
  width: 30%;
  height: 10%;
}
footer form {
  display: block;
  margin-left: 200px;
  height: 80%;
  width: 50%;
  padding: 30px;
}
footer form input[type=text] {
  padding: 10px;
  margin: 5px 0;
  font-size: 1em;
  color: var(--colo);
  height: 6vh;
  width: var(--formwidth);
  border-bottom: 2px solid var(--bgc);
}
footer form textarea {
  width: var(--formwidth);
  height: 180px;
  resize: none;
  border-bottom: 2px solid var(--bgc);
}
footer form input[type=submit] {
  width: var(--formwidth);
  height: 50px;
  background-color: var(--bgc);
  border-radius: 25px;
}
footer form label {
  font-size: 1em;
  color: #fff;
  text-align: left;
  opacity: 1;
  display: block;
}

.contactMethods {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 20%;
  background-image: linear-gradient(to bottom, rgba(101, 163, 235, 0.5), rgba(255, 255, 255, 0.5)), url(../TigerImages/colorSpectrum.jpg);
  width: 100%;
  text-align: center;
  padding: 10px;
}
.contactMethods img {
  max-width: 30%;
  height: auto;
}
.contactMethods figcaption {
  margin: 5px;
  padding: 10px;
}
.contactMethods figcaption:hover {
  transform: scale(1.5);
  transition: all 1s ease-in-out;
  cursor: pointer;
}

.copyRights {
  display: flex;
  background: #000;
  font: normal normal normal 20px/29px Heebo;
  color: #fff;
  width: 100%;
  height: 51px;
  padding: 10px;
  justify-content: space-between;
  border: 1px solid var(--bgc);
}

@media (max-width: 700px) {
  .navHeader {
    width: 100%;
    display: flex;
    height: 30px;
    overflow: visible;
  }
  .navHeader #hamburger {
    position: relative;
  }
  .navHeader #hamburger #burgerIcon {
    display: block;
  }
  .navHeader #hamburger:hover ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 30px;
    background-color: #9a7575;
    opacity: 1;
    z-index: 10;
  }
  .navHeader #hamburger:hover ul li {
    margin: 0;
    padding: 10px 20px;
    width: 100%;
    text-align: center;
  }
  .navHeader #hamburger:hover ul a {
    color: white;
    text-decoration: none;
  }
  .navHeader #hamburger:hover {
    display: block;
  }
  .navHeader #hamburger ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #9a7575;
    opacity: 1;
    flex-direction: column;
  }
  .navHeader .navName {
    display: none;
  }
  #header-container h1 {
    font: normal normal 900 30px/40px Heebo;
    word-spacing: 0;
  }
  .text-container > p {
    font: normal normal 500 15px/30px Heebo;
    text-align: center;
  }
  .techUsed {
    height: 100%;
    width: 100%;
    background-color: rgb(214, 200, 200);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .techUsed .card {
    background-color: rgb(214, 200, 200);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
  }
  .techUsed .card img {
    width: 30%;
    height: 30%;
    margin: 10px;
  }
  #aboutMe {
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgba(38, 29, 37, 0.6);
    padding: 50px;
    color: rgb(45, 41, 41);
  }
  #aboutMe figure {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  #Cssproject, #JavaSproject {
    height: 40%;
  }
  #Cssproject .row, #JavaSproject .row {
    padding-left: 10%;
  }
  footer {
    flex-direction: column;
    align-items: center;
  }
  footer form,
  footer form h3 {
    margin-left: 1px;
    text-align: center;
    width: 100%;
  }
  .contactMethods {
    height: 400px;
  }
}/*# sourceMappingURL=main.css.map */