    @import url('https://fonts.googleapis.com/css2?family=Heebo&family=Satisfy&family=Varela+Round&display=swap');

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .container {
        display: flex;
        flex-direction: row;
    }

    .container>img {
        width: 100vw;
        height: 100vh;
    }

    .container .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        padding: 20px;
        border: 2px solid #707070;
        width: 100vw;
        height: 100vh;
    }

    .form h3 {
        font: normal normal 900 28px/41px Heebo;
        color: #020253;
        text-align: center;
        line-height: 2;
    }

    .form p {
        font: normal normal normal 15px/22px Heebo;
        color: #020253;
        text-align: center;
        line-height: 5;
    }

    .form input[type="text"] {
        padding: 10px;
        margin: 5px 0;
        font-size: 1em;
        color: #3A3A3A;
        height: 6vh;
        width: 80%;
        border: none;
        border-bottom: 3px solid #020253;
        background-color: #9daece;
    }

    .form input[type="submit"] {
        width: 30%;
        height: 6vh;
        background-color: #020253;
        cursor: pointer;
        display: block;
        margin-top: 10px;
        color: #fff;
        font: normal normal bold 14px/19px Heebo;
    }

    .form label {
        font: normal normal bold 10px/14px Heebo;
        color: #000;
        display: block;
    }

    @media (max-width:550px) {
        .container {
            display: block;
        }

        .container>img {
            height: 50vh;
            width: 100%;
        }

        .form input[type="text"],
        .form input[type="submit"] {
            width: 100%;
        }
    }