@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Satisfy&family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --width: 40%;
    --bgc: orange;
}

.top {
    width: 23%;
    height: 10px;
    background-color: var(--bgc);
    position: absolute;
    left: 0;
}

.circle1 {
    background-color: var(--bgc);
    border-radius: 50%;
    width: 6%;
    height: 95px;
    position: absolute;
    top: 48px;
    right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle:hover,
.circle1:hover {
    transform: rotate(30deg);
    cursor: grab;
    transition: all 1s ease-in-out;
}

.freecontact {
    width: 27.9%;
    height: 800px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 100%;
    height: 100%;
    padding: 35px;
    margin: 50px;
}

form h3 {
    font: normal normal 900 30px/650px Heebo;
    color: #090909;
    text-align: left;
    line-height: 2;
}

form p {
    font: normal normal normal 12px/20px Heebo;
    color: #000;
    text-align: left;
    margin: 5px;
}

form input[type="text"] {
    padding: 10px;
    margin: 5px 0;
    font-size: 1em;
    color: #77849c;
    height: 51px;
    width: var(--width);
    border: none;
    border-bottom: 3px solid var(--bgc);
    background-color: #a9abae;
}

form textarea {
    width: 97%;
    height: 180px;
    resize: none;
    border-bottom: 2px solid var(--bgc);
    display: block;
    background-color: #a9abae;
}

form input[type="submit"] {
    width: var(--width);
    height: 51px;
    background-color: var(--bgc);
    cursor: pointer;
    display: block;
    margin-top: 10px;
    color: #000;
    font: normal normal bold 20px/28px Heebo;
}

form label {
    font: normal normal bold 13px/19px Heebo;
    color: #000;

}

footer {
    display: flex;
    justify-content: flex-end;
}

.circle {
    background-color: var(--bgc);
    border-radius: 50%;
    width: 10%;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.bottom {
    width: 54%;
    height: 10px;
    background-color: var(--bgc);
    position: absolute;
    right: 0;
}

@media (max-width: 550px) {
    .top {
        width: 58%;
    }

    .container {
        flex-direction: column;
    }

    .freecontact {
        margin: 50px;
        height: 100px;
    }

    .circle1 {
        display: none;
    }

    .container form {
        margin-top: 0;
    }

    .container form label {
        display: block;
    }

    form input[type="text"],
    form input[type="submit"],
    form textarea {
        width: 100%;
    }

    footer .circle>img {
        width: 60%;
    }

    .freecontact:hover {
        transform: scale(1.5);
        transition: all 1s ease-in-out;
    }
}