* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10% auto;
    font-family: serif;
    border: 1px solid #f47424;
    padding: 20px;
    box-shadow:5em 1em rgb(225, 204, 126);
    background-image: url(../../../TigerImages/calcpic.jpg);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 50% 80%;
    background-attachment: fixed;
}

.container h1{
    font-family:'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva;
    border: 2px solid  brown;
    background-image: linear-gradient(to bottom, rgba(239, 58, 61, 0.5), rgba(221, 169, 86, 0.5)),  url(../../../TigerImages/colorSpectrum.jpg);
}

form{
    margin: 10px;
    width: 100%;
}

form #calc {
    width: 25%;
    font-size: 1.5rem;
    border-bottom: 1px solid #000;
    text-align: center;
    margin-right: 10%;
}

form label{
font-size: 1.5rem;
}

footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 50%;
}

#operationSelector {
    font-size: 1rem;
    width: 40px;
    align-items: center;
    justify-content: center;
}

footer button{
    height: 30px;
    width: 90%;
    border-radius: 5%;
    margin:10px;
    height: 20%;
    font-size: 1.5rem;
}

@keyframes mymove{
50% {transform: rotate(180deg);}
}

#num1, #num2{
    font-size: 40px;
    width: 5%;
    border: 2px solid blanchedalmond;
    background-color: #f47424;
}
