*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url(../pBuilderImages/blocks.jpg);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 40% 100%;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}

.pageBuilder{
    width: 40%;
    height: 100vh;
    padding: 30px;
    font-size: 1em;
}

.pageBuilderDiv{
    position: absolute;
    top: 0;
    left: 40%;
}

header,h1,p {
    color: white;
}

.div{
    width: 100%;
    flex-grow: 1;
}

label{
    color: aliceblue;
    margin: 5px;
}

.btn{
    margin: 5px;
    width: 40%;
}

.btn:active {
    box-shadow: inset 3px 3px 3px rgba(0, 0, 0, .5);
}
